<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head', {css: "emp-job" , title: "roles" }); %>
        <link rel="stylesheet" href="/css/LPcss/employee/emp-job.css">

        
</head>

<body>

    <%- include('./partials/navbar'); %>
    <%- include('./partials/mode'); %>

    <div class="content">
        <!--Container Main start-->

        <form  method="post" action="<%= submit  %>">
            <div class="box">
                <h1>Apply for Employee Job</h1>
                <div class="inputs">
                    <input type="text" name="firstName" placeholder="First Name" required>
                    <input type="text" name="lastName" placeholder="Last Name" required>
                    <input type="text" name="username" placeholder="User Name" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="text"  name="mobile"  placeholder="Mobile" required>
                    <input type="email" name="email"  placeholder="Email" required>
                
                    
                </div>
                <div class="input-group2">
                    <input class="button btn btn-primary" type="submit" value="Submit">
                    <!-- <a href="#"><input class="btn btn-primary" type="submit" value="Submit"></a> -->
                </div>
            </div>


        </form>
        
        <!--Container Main end-->
    </div>


    <%- include('./partials/footer'); %>

</body>


</html>

<!-- views/partials/role-template.ejs -->