<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head', {css: "role", title: "roles"}); %>
    </head>
    <%- include('./partials/navbar'); %>
    <%- include('./partials/mode'); %>

    <body>
        <div class="container">
            <div class="box box1">
                <section >
                    <% users.forEach(user => { %>
                        <div class="card" style="background-color: #2f363e; color: wheat;" >
                            <img src="images/<%= user.img %>" class="card-img-top">
        
                            <div class="card-body">
                                <h5 class="card-title"><%= user.role %></h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="btn">
                                    <a  href="/roles/<%= user.id  %>"> View </a>
                                </li>
                            </ul>
                        </div>
                    <% }) %>
                </section> 
            </div>
        </div>   
    </body>
 
    
    <%- include('./partials/footer'); %>
</html>
